.nav{
    display: flex ;
    margin-right: 80px;
    justify-content:space-around
}

.nav-list{
    
    list-style: none; 
    margin-right: 100px;
}
body {
    width: 800px;
    margin: 0 auto;
    font-size: 15px;
  }
.fieldset{
    border-color:rgb(127, 193, 231)
    
}